/*fonts */

$font_primary: "Nunito Sans", sans-serif;

/* colors */

$color: #444;
$color_accent: #e4290a;

$color_bg: #000;
$color_blue: #2a3454;
/* shadows */

$shadow: 0 0 5px rgba(0, 0, 0, 0.3);

/* breakpoints */

$phone: 500px;
$mobile: 600px;
$desktop: 1200px;
$tablet: 700px;
 