/*
Lots of code from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
and https://html5boilerplate.com/
and https://www.isotoma.com/blog/2016/09/07/going-all-in-on-flexbox/
used in this framework
*/

@import "mixins";
@import "layout";
@import "icons";
@import "nav";
@import "ie";

* {
    box-sizing:border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100%;
    min-height:100vh;
    font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",  "Fira Sans", "Droid Sans", "Helvetica Neue",  sans-serif;

    @media screen and (max-width: 1000px) {
        padding: 0 0.5em;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    text-rendering: optimize-legibility;
}

#content {
    transition: transform 0.3s;
    will-change: transform;
    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    flex: 1 0 auto;
    @media screen and (max-width:1000px) {
  margin: 0 1em;
}
    width: 100%;
}
 
#content::after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0px;
    visibility: hidden;
}

@media (--break-lg) {
    #content {
        padding-top: var(--space-lg);
    }

    #content::after {
        margin-top: var(--space-lg);
    }
}



#content:after {
    content: none;
}

#main, #sidebar {
    text-align: left;

    h1, h2, h3, h4 {
        margin-top: 1em;
    }
}

header, footer {
    flex: none;
    padding: 0.5em;
}

header {
    h1 {
        font-size: 1.6rem;
    }

    @media screen and (max-width: 1000px) {
        text-align: left;
    }
}

footer nav {
    display: inline-block;
}

a {
    color: #62839c;

    &:hover {
        color: darken(#62839c, 10%);
    }
}

.reveal {
    transform: translateX(-100vw);
}

#menutoggle, #scroll {
    display: none;
    cursor: pointer;
}

#menutoggle {
    position: absolute;
    right: 1em;
    top: 1em;

    @media screen and (max-width: 1000px) {
        display: block;
    }
}

#scroll {
    position: fixed;
    right: 1em;
    top: 40vh;
} 

#banner {
    width:100%; 
    height:40vh;
    overflow:hidden;  
    img {
        display:block;
        width:100%; 
    }
}

.full_content {
    padding:0 1em;
}

.btn {
    @include btn(#00f);
}


.callout {
    text-align: left;
    h3 {
        text-align: center;
    }
    border:1px solid;
    padding:.5em;
}