/*
Lots of code from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
and https://html5boilerplate.com/
and https://www.isotoma.com/blog/2016/09/07/going-all-in-on-flexbox/
used in this framework
*/
body {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",  "Fira Sans", "Droid Sans", "Helvetica Neue",  sans-serif;

    @media screen and (max-width: 1000px) {
        padding: 0 0.5em;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    text-rendering: optimize-legibility;
}

#main {

}

#main::after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0px;
    visibility: hidden;
}

@media (--break-lg) {
    #main {
        padding-top: var(--space-lg);
    }

    #main::after {
        margin-top: var(--space-lg);
    }
}

#main--full {
    padding: 0;
}

#main--full::after {
    content: none;
}

#main {
    max-width: 1000px;
    text-align: left;
    margin: auto;
    background: #fff;

    h1, h2, h3, h4 {
        margin-top: 1em;
    }

    @media screen and (max-width: 1000px) {}
}

header, footer {
    flex: none;
    padding: 0.5em;
    color: #999;
}

a {
    color: #62839c;

    &:hover {
        color: darken(#62839c, 10%);
    }
}

nav a {
    text-decoration: none;
}

/* nav#primary */
nav#primary {
    position: relative;

    ul {
        background: #fff;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;

        @media screen and (max-width: 500px) {
            flex-direction: column;
            position: fixed;
            width: 100%;
            left: 100vw;
        }

        li {
            position: relative;

            &:hover {
                .submenu {
                    left: -60px;
                }
            }
        }

        a {
            display: block;
            padding: 0.5em 1em;
        }
    }

    .submenu {
        position: absolute;
        left: -9999em;
        flex-direction: column;
        width: 200px;
        background: #fff;
    }
}

#menutoggle {
    display: none;
    position: absolute;
    right: 1em;
    top: 1em;
    content: "Expand menu";

    @media screen and (max-width: 500px) {
        display: block;
    }
}

/* grid */
.row {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex: 1 0 auto;
    align-items:flex-start;
    padding: var(--space) var(--space) 0;

    @media screen and (max-width: 500px) {
        display: block;
    }
}

.box {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: .5em;
    margin: 1%;
    justify-content: space-between;
    align-items: center;
}

.one_quarter {
    flex: 0 0 (100 / 4 - 2%);
}

.half {
    flex: 0 0 (100 / 2 - 2%);
}

.three_quarter {
        flex: 0 0 (74%);
}



