<ul>
	<li>
		<a href="/">Home</a>
	</li>
	<li>
		<a href="#">About Us</a>
		<ul class="submenu">
			<li>
				<a href="full_width.html">Full width</a>
			</li>
			<li>
				<a href="content_left.html">Content left</a>
			</li>
			<li>
				<a href="content_right.html">Content right</a>
			</li>
			<li>
				<a href="sidebar_left.html">Sidebar left</a>
			</li>
			<li>
				<a href="sidebar_right.html">Sidebar right</a>
			</li>
			<li>
				<a href="banner.html">Banner/Slideshow and callouts</a>
			</li>
			<li>
				<a href="portfolio.html">Portfolio</a>
			</li> 
		</ul>
	</li>    
	<li>    
		<a href="#">Blog/news</a>
	</li>
	<li>
		<a href="#">For Employers</a>
	</li>
	<li>
		<a href="#">Installment Loan 101</a>
	</li>
	<li>
		<a href="#">Reward Programs</a>
	</li>
	<li>
		<a href="#">FAQs</a>
	</li>
	<li>
		<a href="#">Contact Us</a>
	</li>
</ul>
