{% extends "layout.html" %}

{% set pagetitle = "Banner page with callouts" %}


{% block content %}
<div id="banner" class="row" >
<div class="foreground">
    <h2 class="tagline">A Better Way to Borrow</h2><!--  /.tagline -->
    <h3 class="subtag">Most approvals in less than one hour</h3><!--  /.subtag -->
    <a href="apply" class="btn inv">Apply Now</a>
</div><!--  /.foreground --> 
<div class="bannershape"></div><!--  /.bannershape -->
<div class="bannerbg"><img src="images/two_birdsg.jpg" alt="" /></div><!--  /.bannerbg -->

</div><!-- /#banner  -->

<div id="content" class="fixed_width">
    <div id="main" class="full">
        <h2>Level 2 heading</h2>
        <p>Lorem ipsum Culpa in cupidatat sit sit officia velit laboris esse tempor fugiat Duis occaecat magna esse adipisicing sed et Duis ad non aute Duis ut in sint Duis enim veniam occaecat incididunt nostrud fugiat Ut occaecat consequat in officia consectetur sit officia commodo in sint dolor Duis nulla incididunt Duis magna.
        </p>
    </p>
    </div>
    <!-- /#main  -->
    <div class="callouts row">
        <div class="box callout one_third">
            <h3>Callout Title</h3>
            <p>Callout copy</p>
        </div>
        <!--  /.box callout third -->
        <div class="box callout  one_third">
            <h3>Callout Title</h3>
            <p>Callout copy</p>
        </div>
        <!--  /.box callout third -->
        <div class="box callout  one_third">
            <h3>Callout Title</h3>
            <p>Callout copy</p>
        </div>
        <!--  /.box callout third -->
    </div>
    <!--  /.callouts -->
</div>
<!-- /#content  -->
{% endblock %}
