{% extends "layout.html" %}
{% set pagetitle = "Content right half, image/media left half" %}
{% block content %}
<div id="content" class="row fixed_width">
<div class="half box">
    <h2>An image or something secondary.</h2>
</div>
  <div  id="main" class="half box">
   <h2>Level 2 heading</h2>
    <p>Lorem ipsum Culpa in cupidatat sit sit officia velit laboris esse tempor fugiat Duis occaecat magna esse adipisicing sed et Duis ad non aute Duis ut in sint Duis enim veniam occaecat incididunt nostrud fugiat Ut occaecat consequat in officia consectetur sit officia commodo in sint dolor Duis nulla incididunt Duis magna.
    </p>
    <h3>Level 3 heading</h3>
    <p>Excepteur esse labore ex nis i a deserunt nisi elit incididunt laboris fugiat nisi officia pariatur in reprehenderit ullamco Excepteur dolore velit consequat Duis culpa id amet qui magna sunt voluptate in proident id proident dolore ut nisi Excepteur deserunt eu do non consequat officia nostrud adipisicing sunt commodo nostrud sit ut qui proident aliquip id elit non minim mollit commodo eu non in in cupidatat voluptate aute irure.</p>
    <p>Reprehenderit ut laboris Excepteur Ut commodo cillum proident voluptate elit officia incididunt ea minim sunt labore voluptate adipisicing veniam commodo veniam dolore aliqua Ut non exercitation ad pariatur et est velit culpa esse reprehenderit proident in veniam tempor exercitation proident nisi occaecat dolor sunt proident quis laborum sit exercitation ex consectetur in ea deserunt aute incididunt fugiat commodo ea anim incididunt laboris cupidatat incididunt dolore commodo occaecat adipisicing sint id dolore do cupidatat cillum consequat voluptate in est aliqua nostrud irure Duis aliqua in id quis sit aliqua dolor cillum commodo.</p>
  </div><!-- /#sidebar  -->
  </div><!-- /#content -->
{% endblock %}