<!-- index.html -->
{% extends "layout.html" %}

{% set pagetitle = "Basic homepage (based on banner template)" %}


{% block content %}
<div id="banner" class="row" ><img src="images/portfolio/droplets.jpg"></div><!-- /#banner  -->
<div id="content" class="row fixed_width">
 <div id="main" class="box">
  <h2>Sample home page</h2>
 <h3>Level 3aaa  heading</h3>
 <p>Excepteur esse labore ex nisi ad deserunt nssssssisi xvxvc elit incididunt laboris fugiat nisi officia pariatur in reprehenderit ullamco Excepteur dolore velit consequat Duis culpa id amet qui magna sunt voluptate in proident id proident dolore ut nisi Excepteur deserunt eu do non consequat officia nostrud adipisicing sunt commodo nostrud sit ut qui proident aliquip id elit non minim mollit commodo eu non in in cupidatat voluptate aute irure.</p>
 <p>Reprehenderit ut laboris Excepvteur Ut co mmodo cillum proident voluptate elit officia incididunt ea minim sunt labore voluptate adipisicing veniam commodo veniam dolore aliqua Ut non exercitation ad pariatur et est velit culpa esse reprehenderit proident in veniam tempor exercitation proident nisi occaecat dolor sunt proident quis laborum sit exercitation ex consectetur in ea deserunt aute incididunt fugiat commodo ea anim incididunt laboris cupidatat incididunt dolore commodo occaecat adipisicing sint id dolor e do cupidatat cillum consequat voluptate in est aliqua nostrud irure Duis aliqua in id quis sit aliqua dolor cillum commodo.</p>
  </div><!-- /#main  --> 
</div><!-- /#content -->
{% endblock %}