{% extends "layout.html" %}

{% set pagetitle = "Basic homepage (based on banner template)" %}


{% block content %}
<div id="banner" class="row" >
<div class="banner_content">
    <h2 class="tagline">A Better Way to Borrow</h2><!--  /.tagline -->
    <h3 class="subtag">Most approvals in less than one hour</h3><!--  /.subtag -->
    <a href="apply" class="btn inv">Apply Now</a>
</div><!--  /.foreground -->
<div class="banner_shape"></div><!--  /.bannershape -->
<div class="banner_bg"><img src="images/two_birds.jpg" alt="" /></div><!--  /.bannerbg -->

</div><!-- /#banner  -->
<div id="content" class="fixed_width">
 <div id="main" class="box">
  <h2>Your Choice. Your Lender.</h2>
 <h3>Borrow smart with CheckMate.</h3>
 <div class="row">
 	<div class="half">
 		
 	</div><!--  /.half -->
 </div><!--  /.row -->
  </div><!-- /#main  --> 
   <div class="callouts row">
        <div class="box callout one_third">
            <h3>Callout Title</h3>
            <p>Callout copy</p>
        </div>
        <!--  /.box callout third -->
        <div class="box callout  one_third">
            <h3>Callout Title</h3>
            <p>Callout copy</p>
        </div>
        <!--  /.box callout third -->
        <div class="box callout  one_third">
            <h3>Callout Title</h3>
            <p>Callout copy</p>
        </div>
        <!--  /.box callout third -->
    </div>
    <!--  /.callouts -->
</div><!-- /#content -->
{% endblock %}