{% extends "layout.html" %}
{% set pagetitle = "Basic Portfolio Page" %}
{% block content %}


 {% block styles %}
<link href="/css/lightbox.css" rel="stylesheet"> {% endblock %} {% block scripts %}
<script src="/js/lightbox.js"></script>
{% endblock %} {% set pagetitle = "Portfolio page" %} {% block content %}
<div id="content">
    <div id="main">
        <a href="/images/portfolio/black.jpg" data-lightbox="image-1" data-title="My caption"><img src="/images/portfolio/black_thumb.jpg"></a>
    </div>
    <!-- /#main  -->
</div>
<!-- /#content  -->
<script src="/js/lightbox.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.gallery').featherlightGallery();
});
</script>
{% endblock %}
