<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Title here</title>
    <meta name="description" content="Lorem Ipsum Dolor">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    {% block styles %} {% endblock %} 
</head> 

<body class="home">
    <div id="menutoggle"><i class="icon menu_lines"></i></div>
    <!-- /#menutoggle  -->
    <header>  
        <h1>{{ pagetitle }}
        <img src="images/checkmate_gradient_logo_2 color_pantone_01_12_16.png" alt="header logo" />
        </h1>

        <nav id="primary">
        {% include "partials/nav.html" %}
    </nav>
    <!-- /#primary  -->

    </header>
    
        {% block content %} {% endblock %}

    <footer>&copy; 2016 Your company ::
        <nav id="contact"><a href="tel:5555555555">716.555.5555</a> :: <a href="mailto:info@yourcompany.com">info@yourcompany.com</a></nav>
    </footer>
    <div id="scroll"><i class="icon arrow_up"></i></div>
    <!-- /#scroll  -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')
    </script>
    <script src="js/script.js"></script>
    {% block scripts %} {% endblock %}
</body>

</html>
