<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CheckMate Lending Solutions</title>
    <meta name="description" content="Lorem Ipsum Dolor">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans:100,200,300,400,400i,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    {% block styles %} {% endblock %} 
</head> 

<body class="home">
    <div id="menutoggle"><i class="icon menu_lines"></i></div>
    <!-- /#menutoggle  -->
    <div class="wrapper">
    <header>  
    <div class="row center">
        <h1 class="logo">{{ pagetitle }}
        </h1>
<div class="col fill">
<div class="row center">
    <a href="#" class="btn">Apply</a>
    <a href="#" class="btn">Refinance</a>
    <a href="tel:800.711.1137" class="tel fill">800.711.1137</a>
    <a href="#" class="login">Log in</a>
</div><!--  /.row -->
        {% include "partials/nav.html" %}

    <!-- /#primary  -->
</div><!--  /.col -->
</div><!--  /.row -->
    </header>
    
        {% block content %} {% endblock %}

    <footer>&copy; 2016 Your company ::
        <nav id="contact"><a href="tel:5555555555">716.555.5555</a> :: <a href="mailto:info@yourcompany.com">info@yourcompany.com</a></nav>
    </footer>
    </div><!--  /.wrapper -->
    <div id="scroll"><i class="icon arrow_up"></i></div>
    <!-- /#scroll  -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')
    </script>
    <script src="js/script.js"></script>
    {% block scripts %} {% endblock %}
</body>

</html>
